p.middle{
	color:blue;
}

p.edge{
	color:red;
}
p~h1{
	color:yellow;
}

#MyTitle1 {
	color:black;
}
#MyTitle3 b{
	color:black;
}
#MyTitle3 a~b{
	color:yellow;
}
#MyTitle3+p{
	color:green;
}
#MyTitle4 a+br+b{
	color:blue;
}
#MyTitle4 a+br+b+br+b{
	color:black;
}
#MyTitle4 a+br+b+br+b+br+b{
	color:black;
}


