a.q1 {
    color:red;
}
a.q1 +small{
    color: red;
}
.q2 {
    color:yellow;
}
.q2 + small {
    color: yellow;
}
.q3 {
    color:gray
}
    .q3 + small {
        color: gray
    }
.q4 {
    color:blue;
}
    .q4 + small {
        color: blue;
    }
.q5  {
    color: green;
}

  
h1 {
    color:blue;
}
#w1  {
    color: red;
}
#w2 {
    color: yellow;
}
#w3 {
    color: gray;
}